version: '3.3'

services:
  app:
    container_name: {{ item.container_name }}
    image: {{ item.image }}
    restart: always
    volumes:
      - ./pw.yml:/app/pw.yml
      #- ./locale.d:/app/locale.d
    ports:
      - "{{ item.port_mapping }}"
